
.jumbotron{
  background: url(images/amazing-grace-garden.jpg);
  width:100%;
  height: 800px;
  font-size: 3em;
  font-family: Castoro, serif;
}

footer{
  background-color: grey;
  color: white;
}

.head{
  font-size: 2em;
  font-family: castoro, serif;
}

.display-4{
  background-color: grey;
}
.lead{
  color:white;
  background-color: grey;
}
.byline{
    font-size: .75em;
    font-style: italic;
}

.rightpic{
  float:right;
  padding-left: 15px;
  width: 50%;
}

.leftpic{
  float:left;
  padding-right: 15px;
  width:50%;
  }

.subhead{
  font-weight: bold;
  font-size: 1.5em;
  font-family: helvetica, sans-serif;
}

p{
  font-size: 1em;
  font-family: helvetica, sans-serif;
}

.caption{
  font-size: .75em;
  font-style: italic;
  font-family: castoro, serif;
}

.pullquote{
  font-family: castoro, serif;
  font-size: 2em;
  color: red;
}

.sidebar{
  background-color: grey;
  color: white;
  width:40%;
  float: right;
  padding: 10px;
  border-width:5px;
  border-color: red;
  margin-left: 10px;
  border-style: solid;
}

@media only screen and (max-width: 800px) {
  .sidebar {
    width: 100%;
  }
}

li{
  font-size: 1em;
  font-family: helvetica, sans-serif;
}

a:link{
  color: white;
  text-decoration: underline;
}

a:visited{
  color:black;
  text-decoration: underline;
}

a:hover{
  color: blue;
  text-decoration: underline;
}
